table{
    border: 3px solid black;
    width: 500px;
    padding: 5px 5px;
    font-family: Arial;
    /* border-collapse: collapse; */
    box-shadow: 3px 3px 3px;
    margin: auto;

} 
td {
    height: 50px;
    border: none;
    text-align: center;

}

.ManHinh{
    border: 3px solid black;
    height: 75px;
    width: 450px;
    border-radius: 5px;
    font-size: 35px;
    text-align: right;
}

.btn{
    padding: 5px 40px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
}
